@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    background-image: url("");
    background-size: cover;
    background-position: 50%;
    width: 100vw;
    height: 100vh;
    letter-spacing: -0.1px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}
